.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .header-title {
    margin-bottom: 30px;
  }
  
  .card-svg {
    height: 700px;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
    transform-style: preserve-3d;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  }
  
  .central {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  